@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app-container {
  font-family: "Montserrat", sans-serif;
  background-color: #512da8;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #fff;
  overflow-x: hidden;
}

.home-container h2 {
  line-height: 1.5;
}

/* login */

.login-container {
  position: absolute;
  padding: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(to right, #5c6bc0, #512da8);
  border-radius: 20px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  width: 350px;
}

.login-container h1 {
  text-align: center;
  margin-bottom: 30px;
}

/* main page */
.main-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

/* sidebar */

.sidebar-header,
.sidebar-footer {
  display: none;
}

.sidebar {
  background: #2c3e50;
  color: #fff;
  padding: 20px;
  width: 250px;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.sidebar h2 {
  text-align: left;
  margin-bottom: 20px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  margin: 15px 0;
}

.sidebar ul li a {
  text-decoration: none;
  color: #fff;
  display: block;
  padding: 10px;
  border-radius: 6px;
  transition: background 0.3s ease-in-out;
}

.sidebar ul li a:hover,
.sidebar ul li a.active {
  background: #3498db;
  color: #fff;
}

/* calendar */

.calendar-container {
  width: 100%;
  text-align: center;
  margin: 20px auto;
}

.calendar-days-header,
.calendar-week {
  display: flex;
  justify-content: space-between;
}

.calendar-day-header {
  flex: 1;
  text-align: center;
  font-weight: bold;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}

.calendar-day {
  flex: 1;
  font-weight: 900;
  text-align: center;
  padding: 10px 0;
  border: 1px solid #ddd;
  cursor: pointer;
}

.calendar-day.selected {
  background-color: #3498db;
  font-weight: 900;
  color: #fff;
}

.calendar-day.disabled {
  color: #aaa;
  pointer-events: none;
}

.picker-controls {
  display: flex;
  gap: 10px;
  margin: 10px 0;
  justify-content: center;
}

.picker-controls select,
.picker-controls input,
.picker-controls button {
  padding: 8px 12px;
  font-size: 16px;
  font-weight: 900;
  height: 40px;
  border-radius: 5px;
}

.picker-controls button {
  cursor: pointer;
}

.navigation-and-display {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}

.navigation-and-display h2 {
  margin: 0;
  font-size: 1.5rem;
  font-weight: bold;
}

.navigation-and-display button {
  padding: 5px 10px;
  font-size: 16px;
  cursor: pointer;
}

/* buttons */

button {
  padding: 12px;
  border: none;
  border-radius: 6px;
  background: #ff9800;
  color: white;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.3s ease;
}

button:hover {
  background: #f57c00;
}

/* Inputs and Selects */
input,
select {
  width: 100%;
  padding: 12px;
  border: 2px solid #ffffff;
  outline: none;
  border-radius: 6px;
  margin-bottom: 15px;
  font-size: 16px;
  text-align: center;
  background: #fff;
  color: #000;
}

/* Todo List Styles */
.todo-container {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  border-radius: 12px;
  width: 400px;
  text-align: center;
}

.todo-input {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.todo-input input {
  width: 70%;
}

.todo-input button {
  width: 30%;
  padding: 10px;
  height: 45px;
}

.todo-container ul {
  list-style: none;
}

.todo-container li {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 6px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  transition: all 0.3s ease-in-out;
}

.todo-container li:hover {
  background: rgba(255, 255, 255, 0.2);
}

.todo-btn {
  display: flex;
  gap: 10px;
}

.completed {
  text-decoration: line-through;
  opacity: 0.6;
}

.incomplete {
  text-decoration: none;
  opacity: 1;
}

/* Timer, Stopwatch, Alarm and Time */

.timer-container,
.stopwatch-container,
.alarm-container,
.time-container, .home-container {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
  border-radius: 12px;
  width: 400px;
  text-align: center;
}

.timer-container button,
.stopwatch-container button {
  width: 100px;
  margin: 5px;
}

.timer-container .buttons,
.stopwatch-container .buttons {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 20px;
}

.stopwatch-display,
.alarm-display,
.time-display, .timer-display {
  font-size: 2rem;
  font-weight: bold;
  margin: 20px 0;
}

.timer-container input {
  width: 60px;
  padding: 5px;
  font-size: 18px;
  text-align: center;
  margin: 5px;
  border: none;
  border-radius: 4px;
}

.alarm-inputs,
.stopwatch-buttons {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.alarm-container input,
.alarm-container select {
  width: 50%;
  padding: 12px;
  border: none;
  border-radius: 6px;
  margin-bottom: 15px;
  font-size: 16px;
  text-align: center;
  background: white;
  color: black;
}

@media (max-width: 968px) {
  .sidebar {
    display: none;
  }

  .main-content {
    width: 100%;
  }

  .sidebar-header {
    position: fixed;
    left: 0;
    top: 0;
  }

  .sidebar-header,
  .sidebar-footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #2c3e50;
    color: #fff;
    padding: 20px;
  }

  .sidebar-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    display: block;
  }

  .sidebar-header ul,
  .sidebar-footer ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
  }

  .sidebar-header ul li,
  .sidebar-footer ul li {
    padding: 0 10px;
  }

  .sidebar-header ul li a,
  .sidebar-header ul li h2,
  .sidebar-footer ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 30px;
  }

  .sidebar-header ul li a{
    font-size: 20px;
  }
}
